<div class="container">

<div class="list">
    <ul>
      <li class="row">
        <div class="card hoverable col s3" *ngFor="let ingredient of ingredients">
          <div class="card-image">
            <img
              src="{{ingredient.srcImg}}"
              alt="{{ingredient.alt}}"/>
          </div>
          <p class="flow-text center">{{ingredient.name}}</p>
          <button class="btn-floating waves-effect waves-teal btn-flat red right" (click)="addIngredient(ingredient)"><i class="material-icons">add</i></button>
          <button class="btn-floating waves-effect waves-teal btn-flat red right" (click)="deleteIngredient(ingredient)"><i class="material-icons">delete</i></button>
        </div>
      </li>
    </ul>
</div>
  <!--list with ingredients ends-->

  <!--summary form starts-->
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="row center">
    <div class="input-field col s4">
      <ng-container *ngIf="readyPizza.ingredients.length > maxIgredientsCount;then counter ;else amount"></ng-container>
       <ng-template #counter>
       <p class="helper-text">Too much ingredients! Maximum amount for you is {{maxIgredientsCount}}</p> </ng-template>
       <ng-template #amount>
        <p class="helper-text"
        >{{readyPizza.ingredients.length}} ingredients selected</p></ng-template>


      <div class="progress">
        <div class = "determinate" style = "width:{{ingredientsPercent()}}%"></div>
      </div>
    </div>
    <div class="input-field col s4">
      <label for="pizzaName"></label>
      <input id="pizzaName"
             type="text"
             placeholder="Name Your Pizza!"
             ngModel
             class="form-control"
             name="readyPizzaTitle"
             required

      >
    </div>
    <div class="input-field col s4">
      <button
        type="submit"
        class="btn small"
        [disabled]="f.invalid || readyPizza.ingredients.length <= 0 "
      >Bake IT!
      </button>
    </div>
    </div>
  </form>
</div>

