<div class="container q-container">
  <div>
    <ul>
      <li class="row">
        <div class="card hoverable col s3" *ngFor="let ingredient of ingredients">
          <div class="card-image">
            <img
              src="{{ingredient.srcImg}}"
              alt="{{ingredient.alt}}"/>
          </div>


          <button class="material-icons" (click)="addIngredient(ingredient)">add</button>

          <button class="material-icons" (click)="deleteIngredient(ingredient)">delete</button>


          <!--          <ng-container *ngIf="addingMode; then addButtonAction; else deleteButtonAction"></ng-container>-->
          <!--          <ng-template #addButtonAction>-->
          <!--            <button class="material-icons" (click)="switchMode()">add</button>-->
          <!--          </ng-template>-->
          <!--          <ng-template #deleteButtonAction>-->
          <!--            <button class="material-icons" (click)="switchMode()">delete</button>-->
          <!--          </ng-template>-->

          <span class="card-title">{{ingredient.name}}</span>
        </div>
      </li>
    </ul>
  </div>
  <!--container with ingredients ends-->

  <!--summary form starts-->
  <div class="row">
    <div class="input-field col s4">
      <p>{{readyPizza.ingredients.length}} ingredients selected</p>
      <div class="progress">
        <div class = "determinate" style = "width: 20%"></div>
        <!--        <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="3" aria-valuemin="1"-->
        <!--             aria-valuemax="8"></div>-->
      </div>
    </div>
    <div class="input-field col s4">
      <label for="pizzaName"></label>
      <input id="pizzaName"
             type="text"
             placeholder="Name Your Pizza!"
             [(ngModel)]="readyPizza.title"
      >
    </div>
    <div class="input-field col s4">
      <button
        class="btn small"
        (click)="addPizza()"
        [disabled]="readyPizza.ingredients.length === 0
        || readyPizza.title ==='' ||
         getIngredientsCount() > 8"
      >Bake IT!
      </button>
    </div>
  </div>
</div>
