<div class="container">

<div class="list">
    <ul>
      <li class="row">
        <div class="card hoverable col s3" *ngFor="let ingredient of ingredients">
          <div class="card-image">
            <img
              src="{{ingredient.srcImg}}"
              alt="{{ingredient.alt}}"/>
          </div>
          <p class="flow-text center">{{ingredient.name}}</p>
          <button class="btn-floating waves-effect waves-teal btn-flat red right" (click)="addIngredient(ingredient)"><i class="material-icons">add</i></button>
          <button class="btn-floating waves-effect waves-teal btn-flat red right" (click)="deleteIngredient(ingredient)"><i class="material-icons">delete</i></button>
        </div>
      </li>
    </ul>
</div>
  <!--list with ingredients ends-->

  <!--summary form starts-->
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <div class="row center">
    <div class="input-field col s4">
      <p class="helper-text">{{readyPizza.ingredients.length}} ingredients selected</p>
      <div class="progress">
        <div class = "determinate" style = "width:{{ingredientsPercent()}}%"></div>
      </div>
    </div>
    <div class="input-field col s4">
      <label for="pizzaName"></label>
      <input id="pizzaName"
             type="text"
             placeholder="Name Your Pizza!"
             ngModel
             class="form-control"
             name="readyPizzaTitle"

      >
    </div>
    <div class="input-field col s4">
      <button
        type="submit"
        class="btn small"
      >Bake IT!
      </button>
    </div>
    </div>
  </form>
</div>

