<!--header of application starts-->
<nav class="row">
  <div class="nav-wrapper teal darken-3">
    <a href="#" class="brand-logo center">My pizza story</a>
    <ul>
      <li class="s12 m4 l2"><a href="#">Ingredients</a></li>
      <li class="right"><a href="#"> My Pizzas</a></li>
    </ul>
  </div>
</nav>
<!--header of application ends-->

<!--container with ingredients starts-->
<div class="container q-container">
  <div class="row">
    <div class="card-panel hoverable col s3">wef
    </div>
    <div class="card-panel hoverable col s3">wf
    </div>
    <div class="card-panel hoverable col s3">wf
    </div>
    <div class="card-panel hoverable col s3">f
    </div>
  </div>
</div>
<!--container with ingredients ends-->
<!--summary form starts-->
<div class="container q-container">
  <div class="row edit-row">
    <div class="input-field col s4">
      <p class="">2 ingredients selected</p>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0"
             aria-valuemax="100"></div>
      </div>
    </div>
    <div class="input-field col s4">
      <label for="pizzaName"></label>
      <input id="pizzaName" type="text" placeholder="Name Your Pizza!">
    </div>
    <div class="input-field col s4">
      <button class="btn small">Bake IT!</button>
    </div>
  </div>
</div>
<!--summary form ends-->
